<body>
  <header>
    <nav class="blue darken-2" materialize>
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">My Beers</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#" routerLink="/beers" routerLinkActive="active" >List beers</a></li>
          <li><a href="#" routerLink="/new-beers" routerLinkActive="active">Create new Beer</a></li>        
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer materialize class="page-footer blue darken-2">    
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</body>